.EightBall{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    margin: 25px;
}

.EightBall-question{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}